
.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #0b1a28;
  border-radius: 10px;
  background-color: #D4DDE7;
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 10 px rgba (0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 720x;
  min-width: 320px;
  width: 85%;
}

.contenedor {
  display: flex;
  max-width: auto;
  gap:1rem;
}

.imagen {
  max-width: 250px;
  height: auto;
  border-radius: 100 px;
  margin-top: 0,5%;
}

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;   /* círculo perfecto */
}

.contienePregunta{
display: flex;
flex-direction: column;   /* título arriba, botones abajo */
align-items: center;      /* centra todo horizontalmente */
gap: 1%;                /* espacio entre h4 y botones */
margin-top: 1%; 
max-width: 80%;
}

.titulo {
  flex-wrap: wrap;
  text-align:center;
  color: #1E3754;
  font-size-adjust: none;
  padding: 1%;
  margin: 0;
   max-width: 95%;
}

.titulo h4{
font-size: clamp(16px, 2vw, 32px);

  /* font-size:  2vw; */
}

.botones {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* permite que los botones pasen a la siguiente linea*/
  gap: 3%;
  justify-content: space-around; /* reparte espacio */
  max-width: 95%;
  max-height: 100%;
  max-height: auto;
}


.btn-img {
  flex: 1;
  width: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}

.btn-img img {
  width: 84%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}

.btn-img:hover img {
  content: url("../src/botones/estado animo/bien-hover.png");
}

.btn-img2:hover img {
  content: url("../src/botones/estado animo/regular-hover.png");
}

.btn-img3:hover img {
  content: url("../src/botones/estado animo/mal-hover.png");
}

.btn-img4:hover img {
  content: url("../src/botones/estado animo/estupendo-hover.png");
}

.btn-img5:hover img {
  content: url("../src/botones/estado animo/nolose-hover.png");
}


.btn-imgd {
  flex: 1;
  width: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}



.btn-imgd img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}


.btn-img1d:hover img {
    content: url("../src/botones/dolor/1-hover.png");
}

.btn-img2d:hover img {
    content: url("../src/botones/dolor/2-hover.png");
}

.btn-img3d:hover img {
    content: url("../src/botones/dolor/3-hover.png");
}

.btn-img4d:hover img {
    content: url("../src/botones/dolor/4-hover.png");
}

.btn-img5d:hover img {
    content: url("../src/botones/dolor/5-hover.png");
}

.btn-img6d:hover img {
    content: url("../src/botones/dolor/6-hover.png");
}

.btn-img7d:hover img {
    content: url("../src/botones/dolor/7-hover.png");
}

.btn-img8d:hover img {
    content: url("../src/botones/dolor/8-hover.png");
}

.btn-img9d:hover img {
    content: url("../src/botones/dolor/9-hover.png");
}

.btn-img10d:hover img {
    content: url("../src/botones/dolor/10-hover.png");
}

.btn-img11d:hover img {
    content: url("../src/botones/dolor/nolose-hover.png");
}





/*modal de ventana emergente y sus hijos*/

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* si el contenido es muy alto, permite scroll */
}

.modal-content {
  background: #fff;
  padding: 5px;
  border-radius: 15px;
  max-width: 600px;   /* límite en pantallas grandes */
  min-height: auto;
  display: flex;
  flex-direction: column;

}

.modal.visible {
  display: flex; /* se muestra cuando tiene la clase visible */
}

.close {
  cursor: pointer;
  float: right;
  font-size: 25px;
}

/*propiedades contenedor emergente */
.cards-container{
  display: grid;
  gap: 5px;
  width:600px;}

.cardEmergente{
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #0b1a28;
  border-radius: 10px;
  background-color: #D4DDE7;
  padding: 1%;
  margin: 0;
  box-shadow: 0 4px 10 px rgba (0, 0, 0, 0.2);
  margin: 0 auto;

  width: 95%;
}


.contienePreguntaEmergente{
display: flex;
flex-direction: column;   /* título arriba, botones abajo */
align-items: center;      /* centra todo horizontalmente */
gap: 5%;                /* espacio entre h4 y botones */
margin-top: 0,5%; 
max-width: 92%;
margin-right: 5%;
}


.imagenEmergente {
  max-width: 10%;
  height: auto;
  border-radius: 100 px;
  margin-top: 0,5%;
}

.imagenEmergente img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;   /* círculo perfecto */
}

.tituloEmergente {
  flex-wrap: wrap;
  text-align:center;
  color: #1E3754;
  font-size-adjust: none;
  padding: 1%;
  margin: 0;
   max-width: 95%;
}



.botonesEmergentes {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* permite que los botones pasen a la siguiente linea*/
  gap: 3%;
  justify-content: space-around; /* reparte espacio */
  max-width: 50%;
  max-height: 50%;
  max-height: auto;
}

.tituloEmergente h4{
  font-size: clamp(16px, 1vw, 22px);
  line-height: 1.3;   /* ayuda a que no se deforme */
  text-align: center; /* opcional, si querés centrar */
  word-wrap: break-word; /* evita desbordes en emergentes chicos */
}

.botonesEmergentes .btn-img {
  flex: 1;
  width: 70px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}

.botonesEmergentes .btn-img img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}


.botonesEmergentes .btn-imgd {
  flex: 1;
  width: 50px;
  padding: 2%;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}



.botonesEmergentes .btn-imgd img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}




/*div que se encuentra en header, representando energia*/
#valorEstado {
  display: flex;        /* o block, según lo que quieras */
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si tiene altura fija */
  flex-wrap: wrap;      /* si puede haber más de un botón */
  overflow: hidden;     /* evita que se desborde */
  width: 100%;          /* o un ancho fijo */
}



#valorEstado button {
  width: 40px;        /* ancho fijo */
  height: 40px;        /* alto fijo */
}


/*div que se encuentra en header, representando energia*/
#valorDolor {
  display: flex;        /* o block, según lo que quieras */
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si tiene altura fija */
  flex-wrap: wrap;      /* si puede haber más de un botón */
  overflow: hidden;     /* evita que se desborde */
  width: 100%;          /* o un ancho fijo */
}



#valorDolor button {
  width: 40px;        /* ancho fijo */
  height: 40px;        /* alto fijo */
}

#tarjetaDinamica {
  float: right;
}


