
.card {
min-width: 600px;
max-width:40%;
display: flex;
flex-direction:column;
overflow: hidden;
border: 2px solid #0066cc; /*color del borde*/
border-radius: 10px; /*bordes redondeados*/
background-color: aquamarine; /*color de fondo*/
padding: 10px;
margin: 20px;
box-shadow: 0 4px 10 px rgba (0,0,0,0.2); /*sombra*/
}

.titulo{
    text-align:center; /* centrar texto*/
    font-size:1.5rem; /* tamaño de la fuente*/
    color:#333; /* color del texto*/
    padding: 10px;
}

.contenedor {
    display:flex;
}


.imagen {
flex:2;
height:100%;
border-radius: 5 px;
}


.botones {
display:flex;
flex-wrap: wrap; /* permite que los botones pasen a la siguiente linea*/
justify-content: center; /*espacio entre los botones*/
margin-top: 1%; /*margen superior*/
align-items:baseline;
}


button {    
    background-color: #2fb8bf; /*color de fondo*/
    border: 1px solid #0f082b;
    color:white; /* color del texto*/
    border:none; /*sin borde*/
    border-radius: 5px; /*bordes redondeados*/
    padding: 8px;
    cursor:ponter; /* cursor de mano al pasar por encima*/
    font-size: 140%;
    flex: 1 0 calc (40% - 20px);
    margin: 2.9%;
    padding: 3%/*largo*/ 4%/*ancho*/;
}

.botones button:hover {
    background-color: #0056b3; /*color de fondo al pasar el ratón*/
}


