
.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #0066cc;
  /*color del borde*/
  border-radius: 10px;
  /*bordes redondeados*/
  background-color: #D4DDE7;
  /*color de fondo*/
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 10 px rgba (0, 0, 0, 0.2);
  /*sombra*/
  margin: 0 auto;
}

.titulo {
  text-align:center;
  /* centrar texto*/
  font-size: 1.5rem;
  /* tamaño de la fuente*/
  color: #1E3754;
  /* color del texto*/
  padding: 10px;
  margin: 0;
}

.contenedor {
  display: flex;

  max-width: auto;
 
}

.imagen {
  max-width: 250px;
  height: auto;
  /* tamaño fijo o relativo */
  border-radius: 100 px;
  margin-top: 15px;
}

.imagen img {
  max-width: 195px;
  /* tamaño fijo o relativo */
  height: auto;
  /* mantiene proporción */
    border-radius: 50%;   /* círculo perfecto */

}

.contienePregunta{
  display: flex;
  flex-direction: column;   /* título arriba, botones abajo */
  align-items: center;      /* centra todo horizontalmente */
  gap: 10px;                /* espacio entre h4 y botones */
  margin-top: 5px; 
 max-width: 570px;
}

.botones {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  /* permite que los botones pasen a la siguiente linea*/
  gap: 11px;
  justify-content: space-around;
  /* reparte espacio */
  max-width: 650px;
  max-height: auto;
}


.btn-img {
  width: 180px;
  /* cuadrado */
  height:125px;

  padding: 0;
  /* sin espacio extra */
  border: none;
  /* opcional */
  background: none;
  /* opcional */
  cursor: pointer;
  /* mano al pasar */
  margin: 7px;
}

.btn-small {
  width: 120px;   /* más chico */
  height:95px;
}

.btn-img img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}

.btn-img:hover img {
  content: url("../src/botones/estado animo/bien-hover.png");
}

.btn-img2:hover img {
  content: url("../src/botones/estado animo/regular-hover.png");
}

.btn-img3:hover img {
  content: url("../src/botones/estado animo/mal-hover.png");
}

.btn-img4:hover img {
  content: url("../src/botones/estado animo/estupendo-hover.png");
}

.btn-img5:hover img {
  content: url("../src/botones/estado animo/nolose-hover.png");
}




.btn-imgd {
  width: 65px;
  /* cuadrado */
  height: 65px;
  padding: 0;
  /* sin espacio extra */
  border: none;
  /* opcional */
  background: none;
  /* opcional */
  cursor: pointer;
  /* mano al pasar */
  margin: 7px;
}

.btn-imgd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ajusta la imagen al cuadrado */
}



.btn-img1d:hover img {
    content: url("../src/botones/dolor/1-hover.png");
}

.btn-img2d:hover img {
    content: url("../src/botones/dolor/2-hover.png");
}

.btn-img3d:hover img {
    content: url("../src/botones/dolor/3-hover.png");
}

.btn-img4d:hover img {
    content: url("../src/botones/dolor/4-hover.png");
}

.btn-img5d:hover img {
    content: url("../src/botones/dolor/5-hover.png");
}

.btn-img6d:hover img {
    content: url("../src/botones/dolor/6-hover.png");
}

.btn-img7d:hover img {
    content: url("../src/botones/dolor/7-hover.png");
}

.btn-img8d:hover img {
    content: url("../src/botones/dolor/8-hover.png");
}

.btn-img9d:hover img {
    content: url("../src/botones/dolor/9-hover.png");
}

.btn-img10d:hover img {
    content: url("../src/botones/dolor/10-hover.png");
}

.btn-img11d:hover img {
    content: url("../src/botones/dolor/nolose-hover.png");
}





/*modal de ventana emergente y sus hijos*/

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 5px;
  border-radius: 15px;
  min-width: 450px;
  min-height: auto;
  display: flex;
  flex-direction: column;

}

.modal.visible {
  display: flex; /* se muestra cuando tiene la clase visible */
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

/*propiedades contenedor emergente */
.cards-container{
  display: grid;
  gap: 5px;
  width: 100%;
}


.emergente{
max-height: 170px;
 box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;              /* asegura que el contenido se acomode */
  flex-direction: column;     /* apila elementos verticalmente */
  align-items: center;        /* centra botones e imágenes */
             /* nunca más chica que este ancho */
  flex: 1;                    /* ocupa espacio proporcional */
  gap: 8px;

}

.emergente button {
  width: 100%;                /* ocupa todo el ancho disponible */
  flex-shrink: 1;             /* se achica proporcionalmente */
  max-width: 40px;
  min-width: 30px;
   display: inline-block;   /* asegura que respete su caja */
  overflow: hidden;        /* evita que se desborde el contenido */
  margin: 0; /* evita separación extra */
  line-height: 1.2; /* más compacto */
}


.emergente img {
  max-width: 55px;
  /* tamaño fijo o relativo */
  height: auto;
  /* mantiene proporción */
  border-radius: 50%;   /* círculo perfecto */
  
}


.emergente h4 {
  
  text-align:center;
  /* centrar texto*/
  font-size: 1.0rem;
  /* tamaño de la fuente*/
  color: #1E3754;
  /* color del texto*/
}

.emergentH4 H4{
  font-size: 0.9rem;

}


/*div que se encuentra en header, representando energia*/
#valorEstado {
  display: flex;        /* o block, según lo que quieras */
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si tiene altura fija */
  flex-wrap: wrap;      /* si puede haber más de un botón */
  overflow: hidden;     /* evita que se desborde */
  width: 100%;          /* o un ancho fijo */
}



#valorEstado button {
  width: 40px;        /* ancho fijo */
  height: 40px;        /* alto fijo */
}


/*div que se encuentra en header, representando energia*/
#valorDolor {
  display: flex;        /* o block, según lo que quieras */
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente si tiene altura fija */
  flex-wrap: wrap;      /* si puede haber más de un botón */
  overflow: hidden;     /* evita que se desborde */
  width: 100%;          /* o un ancho fijo */
}



#valorDolor button {
  width: 40px;        /* ancho fijo */
  height: 40px;        /* alto fijo */
}

#tarjetaDinamica {
  float: right;
}