
.contenido{
  display: flex;
  justify-content:center;
  gap: 10px; 
  flex-direction: column; 
}

.contenidoPrincipal{
    flex-direction: row;   /* asegura que sea en fila */
  display: flex;
  gap: 2px;
    justify-content: center; /* opcional: centra las tarjetas en el contenedor */
  flex-wrap: wrap;       /* permite que bajen a otra línea si no entran */
}

.card {
  width: 90%;
  display: flex;
  border: 0.5px solid #0b1a28;
  background-color: #D4DDE7;
  padding: 2%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 0 auto;   /* centra el bloque */
  max-width: 520px;
  min-width: 320px;

}

.contenedor {
  display: flex;
  max-width: auto;
  gap:1rem;
}

.imagen {
  max-width: 105px;
  height: auto;
  border-radius: 100 px;
  margin-top: 0,5%;
}

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;   /* círculo perfecto */
}

.contienePregunta{
display: flex;
flex-direction: column;   /* título arriba, botones abajo */
align-items: center;      /* centra todo horizontalmente */
gap: 1%;                /* espacio entre h4 y botones */
margin-top: 1%; 
max-width: 80%;
}

.titulo {
  flex-wrap: wrap;
  text-align:center;
  color: #1E3754;
  font-size-adjust: none;
  padding: 1%;
  margin: 0;
   max-width: 95%;
}

.titulo h4{
font-size: clamp(16px, 1.7vw, 32px);

  /* font-size:  2vw; */
}

.botones {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* permite que los botones pasen a la siguiente linea*/
  gap: 3%;
  justify-content: space-around; /* reparte espacio */
  max-width: 95%;
  max-height: 100%;
  max-height: auto;

}


.btn-img {
  flex: 1;
  width: 400px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}

.btn-img img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* la imagen entra completa */
}
